body{
    margin: 0;
    font-family: 'Amatic SC', cursive;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 70vw 30vw;
    height: 90vh;
    width: 100%
}

.header-container {
    grid-column: 1/3;
    grid-row: 1;
    padding: 12px;
}

.logo-position{
    float: left
}

.header-flex{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
}

nav a {
    font-size: 20 px;
    color: #333;
    font-weight: bold;
    margin: 0 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #c7647b;
}

.main-container {
    grid-column: 1/2;
    grid-row: 2;
    height: 70vh;
    background-image: url(assets/Piano.jpg);
    background-size: cover;
    padding: 145px;
}

.sidebar-container {
    grid-column: 2/3;
    grid-row: 2;
    padding: 10px;
}

.sidebar-title {
    font-size: 50px;
    /*font-weight: bold;*/
    padding-left: 30px;
    width: 400px;
    border-bottom: 5px solid black;
    orientation: center;
}

.sidebar-tagline {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    padding-left: 30px;
    margin-top: 50px;
}

.footer-container {
    grid-column: 1/3;
    grid-row: 3;
    border-top: 1px solid black;
    padding: 10px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-flex {
    display: flex;
}

.insta-box {
    margin-top: 2px;
    color: white;
    background-color: #333;
    width: 43px;
    height: 43px;
    border-radius: 3px;
}

.insta-box:hover {
    background-color: #c7647b;
}

.insta {
    margin: 5px 0 0 7.5px;
}

.square {
    margin-right: 10px;
}

a .square {
    color: #333;
}

a .square:hover {
    color: #c7647b;
}