<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="aboutmestyles.css">
    <link href="https://fonts.cdnfonts.com/css/twister-2" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Prata&display=swap" rel="stylesheet">
</head>

<body>
    <div class="title">
        WELCOME
    </div>
    <div class="links-grid">
        <div class="nav-link">
            <a href="../index.html">HOME</a>
        </div>
        <div class="nav-link">
            <a href="aboutme.html">ABOUT ME</a>
        </div>
        <div class="nav-link">
            <a href="experience.html">EXPERIENCE</a>
        </div>
        <div class="nav-link">
            <a href="location.html">LOCATION</a>
        </div>
        <div class="nav-link">
            <a href="contactme.html">CONTACT ME</a>
        </div>
    </div>
    <div class="grid-container">
        <section class="main-container">
        </section>
        <aside class="sidebar-container">
            <div class="sidebar-title">About Me</div>

            <div class="sidebar-tagline">
                I am an Idaho girl at heart, born and raised, but now live in Draper with my cute little family. Raising
                kids has been my primary focus for the last several years, but I also love fitness, music, reading books
                that inspire me to do something better, and trying to figure out ways to not eat junk food.
            </div>

        </aside>
    </div>


</body>



</html>