<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="contactmestyles.css">
    <link href="https://fonts.cdnfonts.com/css/twister-2" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body>
    <div class="title">
        WELCOME
    </div>
    <div class="links-grid">
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="../index.html">HOME</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="aboutme.html">ABOUT ME</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="experience.html">EXPERIENCE</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="location.html">LOCATION</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="contactme.html">CONTACT ME</a>
        </div>
    </div>

    <div class="contact-me">
        <div class="contact-header">
            Contact Me
        </div>
        <div class="contact-info">
            <div class="contact-address">
                <div>
                    15156 Walnut Grove Drive
                </div>
                <div>
                    Draper, UT 84020
                </div>
            </div>
            <div class="contact-phone">
                Call or Text: 801-520-8745
            </div>
        </div>
    </div>
    <script src="contactme.js"></script>
</body>

</html>