<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="experiencestyles.css">
    <link href="https://fonts.cdnfonts.com/css/twister-2" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Prata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body>
    <div class="title">
        WELCOME
    </div>
    <div class="links-grid">
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="../index.html">HOME</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="aboutme.html">ABOUT ME</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="experience.html">EXPERIENCE</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="location.html">LOCATION</a>
        </div>
        <div class="nav-link">
            <i class="fas fa-heart"></i>
            <a href="contactme.html">CONTACT ME</a>
        </div>
    </div>
    <div class="grid-container">
        <section class="main-container">
            Photo by <a
                href="https://unsplash.com/@elijahhenderson?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Elijah
                M. Henderson</a> on <a
                href="https://unsplash.com/s/photos/piano-keys?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </section>
        <aside class="sidebar-container">
            <div class="sidebar-title">Experience</div>

            <div class="sidebar-tagline">
                Truly, my experience comes from the several years of lessons I took myself, the events and occasions
                where I was able to play, and the moments at home where I am able to revisit music that I have loved
                playing.
                I have
                taught lessons throughout the last 6 years, but have intentionally kept things very casual and
                small. I
                teach because I love my students, and I love being able to share this hobby with them.
            </div>

        </aside>
    </div>
    <script src="experience.js"></script>
</body>

</html>